@(clusters: List[Server])

@main("Clusters List") {
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Controller Host</th>
                    <th>Accounts</th>
                    <th>A Records Assigned</th>
                    <th>SRV Records Assigned</th>
                </tr>
            </thead>
            <tbody>
                @for(cluster <- clusters){
                <tr>
                    <td>
                        @cluster.id
                    </td>
                    <td>
                        @cluster.hostName
                    </td>
                    <td>@cluster.ip</td>
                    <td>
                      @{models.Records.listRecordCountForHost(cluster.ip, "A")}
                    </td>
                    <td>
                      @{models.Records.listRecordCountForHost(cluster.hostName, "SRV")}
                    </td>
                </tr>
        }
            </tbody>
        </table>
    <br/>

    <p><a href="@controllers.routes.Clusters.newCluster()" class="btn">
      <i class="icon-plus"/></i>@Messages("servers.new.command")</a>
    </p>
    </div>

}