@(clusters: List[Cluster])

@main("Clusters List") {
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Controller Host</th>
                    <th>Accounts</th>
                </tr>
            </thead>
            <tbody>
                @for(cluster <- clusters){
                <tr>
                    <td>
                        @cluster.id
                    </td>
                    <td>
                         @cluster.controllerHost
                    </dd>
                    <td>@cluster.accounts</dd>
                </tr>
        }
            </tbody>
        </table>
    <br/>

    <p><a href="@controllers.routes.Clusters.newCluster()" class="btn">
      <i class="icon-plus"/></i>@Messages("servers.new.command")</a>
    </p>
    </div>

}