@(servers: Seq[Server])(implicit flash: Flash)

@main("Servers List") {
    <div class="container">
    
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
      </div>
    }

    @if(flash.get("error").isDefined){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Host Name</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                @for(server <- servers){
                <tr>
                    <td>
                      <a href="@controllers.routes.Servers.show((server.id).getOrElse(0))">
                        @server.id
                      </a>
                    </td>
                    <td>
                         @server.hostName
                    </dd>
                    <td>@server.ip</dd>
                </tr>
        }
            </tbody>
        </table>
    <br/>

    <p><a href="@controllers.routes.Servers.create()" class="btn">
      <i class="icon-plus"/></i>@Messages("servers.new.command")</a>
    </p>
    </div>

}