@(server: Server)(implicit flash: Flash)

@main("Showing Server: ") {
    <div class="container">
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
      </div>
    }

    @if(flash.get("error").isDefined){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
        <dl class="servers">
            <dt>Id: </dt><dd>@server.id</dd>
            <dt>Host Name: </dt><dd>@server.hostName</dd>
            <dt>IP Address: </dt><dd>@server.ip</dd>
        </dl>

    <br/>
    <p>
        <a href="@routes.Servers.edit((server.id).getOrElse(0))" class="btn">
            @Messages("records.edit.command")</a>
        <a href="@routes.Servers.deleteOne((server.id).getOrElse(0))" class="btn">
            @Messages("records.delete.command")</a>
    </p>
    </div>
}