@(record: Record, recordForm: Form[Record])

@import helper._
@import helper.twitterBootstrap._

@main("Edit Record: ") {

  <div class="container">
  @form(action = record.id.map(routes.Records.updateIfExists(_)).getOrElse(routes.Records.create())) {
    <fieldset>
      <legend>
        @Messages("record.details", recordForm("name").value.getOrElse(Messages("domains.new")))
      </legend>
      @inputText(recordForm("domainId"), '_label -> "Domain Id")
      @inputText(recordForm("name"), '_label -> "Name")
      @inputText(recordForm("recordType"), '_label -> "Record Type")
      @inputText(recordForm("content"), '_label -> "Content")
      @inputText(recordForm("ttl"), '_label -> "TTL")
      @inputText(recordForm("priority"), '_label -> "Priority")
      @inputText(recordForm("changeDate"), '_label -> "Change Date")
      @inputText(recordForm("accountId"), '_label -> "Account Id")
    </fieldset>
    <p><input type="submit" class="btn primary" value='@record.id.map(_=> Messages("records.edit.submit")).getOrElse(Messages("records.new.submit"))'></p>
  }
  <br/>
  </div>
}
