@(recordForm: Form[Record])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models.RecordType
@import models.Domains

@main("Edit Record: ") {

  <div class="container">
  
   @recordForm.globalError.map { error =>
      <div class="alert alert-error">
        @error.message
      </div>
   } 
 
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
      </div>
    }

    @if(flash.get("error").isDefined){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
  
  @form(action = routes.Records.update()) {
    <fieldset>
      <legend>
        @Messages("record.details", recordForm("name").value.getOrElse(Messages("domains.new")))
      </legend>
      @inputText(recordForm("id"), '_label -> "Id", 'readonly -> "readonly")
      @inputText(recordForm("domainId"), '_label -> "Domain Id", 'readonly -> "readonly")
      @inputText(recordForm("name"), '_label -> "Name")
      @inputText(recordForm("recordType"), '_label -> "Record Type", 'readonly -> "readonly")
      @inputText(recordForm("content"), '_label -> "Content")
      @inputText(recordForm("ttl"), '_label -> "TTL")
      @inputText(recordForm("priority"), '_label -> "Priority")
      @inputText(recordForm("changeDate"), '_label -> "Change Date")
      @inputText(recordForm("accountId"), '_label -> "Account Id")
    </fieldset>
    <p><div class="actions"><input type="submit" class="btn primary" value=@Messages("records.edit.submit")></div></p>
  }
  <br/>
  </div>
}
