@(title: String)
@main("DNS App") {
    <script src="@routes.Assets.at("javascripts/records.js")" type="text/javascript"></script>
      <div class="container">
        <table data-list="@routes.Records.listAll()" data-details="@routes.Records.get(0)"></table>
        <br/>
        <p><input type="button" class="btn primary" id="button" value='@Messages("records.edit.submit")'></p>
        <br>
        <div class="pagination pagination-right">
          <ul>
    		<li><a href="#">Prev</a></li>
    		<li><a href="#">1</a></li>
    		<li><a href="#">2</a></li>
    		<li><a href="#">3</a></li>
    		<li><a href="#">4</a></li>
    		<li><a href="#">5</a></li>
    		<li><a href="#">Next</a></li>
  		  </ul>
	    </div>
      </div>
    </div>
}