@(records: Seq[Record], domainId: Int, page: Int, orderBy: Int, count: Int)
 
@main("Records List") {
	<div class="container">
		<table>
			<thead>
		  		<tr>
		    		<th>ID</th>
			    	<th>Name</th>
			    	<th>DomainId</th>
			    	<th>RecordType</th>
			    	<th>Content</th>
			    	<th>TTL</th>
			    	<th>Priority</th>
			    	<th>ChangeDate</th>
			    	<th>AccountId</th>
				</tr>
		  	</thead>
		  	<tbody>
		    	@for(record <- records){
		    	<tr>
		    		<td>
		    			<a href="@controllers.routes.Records.show((record.id).getOrElse(0))">
		      			@record.id
		    			</a>
		    		</td>
					<td>@record.name</dd>
					<td>@record.domainId</dd>
					<td>@record.recordType</dd>
					<td>@record.content</dd>
					<td>@record.ttl</dd>
					<td>@record.priority</dd>
					<td>@record.changeDate</dd>
					<td>@record.accountId</dd>
				</tr>
		}
			</tbody>
		</table>
	<!--/div-->
<!--/div-->
    <br/>

	<p><a href="@routes.Records.newRecord(domainId)" class="btn">
	  <i class="icon-plus"/></i>@Messages("records.new.command")</a>
	</p>
    @(paginate(page, orderBy, count, routes.Records.get(_)))
        <div class="pagination pagination-right">
          <ul>
            <li><a href="#">&lt;&lt;</a></li>
            <li><a href="?p=0&s=1">1</a></li>
            <li><a href="?p=1&s=1">2</a></li>
            <li><a href="?p=2&s=1">3</a></li>
            <li><a href="?p=3&s=1">4</a></li>
            <li><a href="?p=4&s=1">5</a></li>
            <li><a href="#">&gt;&gt;</a></li>
          </ul>
        </div>
	</div>
}