@(records: List[Record])

@main("Records List") {
<div class="screenshot">
<div class="navbar navbar-fixed-top"><div class="navbar-inner"><div class="container"><a class="brand" href="/records/list">Records List</a><ul class="nav"></ul></div></div></div>
	<div class="container">
		<table>
			<thead>
		  		<tr>
		    		<th>ID</th>
			    	<th>Name</th>
			    	<th>DomainID</th>
			    	<th>RecordType</th>
			    	<th>Content</th>
			    	<th>TTL</th>
			    	<th>Priority</th>
			    	<th>ChangeDate</th>
				</tr>
		  	</thead>
		  	<tbody>
		    	@for(record <- records){
		    	<tr>
		    		<td>
		    			<a href="@controllers.routes.Records.get((record.id).getOrElse(0))">
		      			@record.id
		    			</a>
		    		</td>
					<td>@record.name</dd>
					<td>@record.domainId</dd>
					<td>@record.recordType</dd>
					<td>@record.content</dd>
					<td>@record.ttl</dd>
					<td>@record.priority</dd>
					<td>@record.changeDate</dd>
				</tr>
		}
			</tbody>
		</table>
	</div>
</div>

	<p><a href="@controllers.routes.Records.create()" class="btn">
	  <i class="icon-plus"/>@Messages("record.new.command")</a>
	</p>
}