@(record: Record)(implicit flash: Flash)

@renderDelete() = {
  <a href="@controllers.routes.Records.deleteOne((record.id).getOrElse(0))" class="btn btn-danger"
    onclick="return confirm('Are you sure you wish to delete record @{record.id}');">
    @Messages("records.delete.command")</a>
}

@renderMasked() = {
    <button type "button" disabled>Delete is Disabled for this Type</button>
}

@main("Showing Record: ") {
    <div class="container">
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
      </div>
    }

    @if(flash.get("error").isDefined){
      <div class="alert alert-error">
        @flash.get("error")
      </div>
    }
    
        <dl class="records">
            <dt>Name: </dt><dd>@record.name</dd>
            <dt>Domain Id: </dt><dd>@record.domainId</dd>
            <dt>Record Type: </dt><dd>@record.recordType</dd>
            <dt>Record Content: </dt><dd>@record.content</dd>
            <dt>TTL: </dt><dd>@record.ttl</dd>
            <dt>Priority: </dt><dd>@record.priority</dd>
            <dt>Change Date</dt><dd>@record.changeDate</dd>
            <dt>Account Id</dt><dd>@record.accountId</dd>
        </dl>

    <br/>
    <p>
        <a href="@routes.Records.edit((record.id).getOrElse(0))" class="btn">
            @Messages("records.edit.command")</a>
        @{
          record.recordType match {
            case "A" | "SRV" => renderDelete()
            case _ => renderMasked()
          }
        }

    </p>
    </div>
}
