@(record: Record)

@main("Showing Record: ") {
    <div class="container">
        <dl class="records">
            <dt>Name: </dt><dd>@record.name</dd>
            <dt>Domain Id: </dt><dd>@record.domainId</dd>
            <dt>Record Type: </dt><dd>@record.recordType</dd>
            <dt>Record Content: </dt><dd>@record.content</dd>
            <dt>TTL: </dt><dd>@record.ttl</dd>
            <dt>Priority: </dt><dd>@record.priority</dd>
            <dt>Change Date</dt><dd>@record.changeDate</dd>
            <dt>Account Id</dt><dd>@record.accountId</dd>
        </dl>
    </div>
    <p>
        <a href="@controllers.routes.Records.create()" class="btn">
        <i class="icon-plus"></i>@Messages("records.new.command")</a>
    </p>

}
