@(domainForm: Form[Domain], id: Option[Int] = None)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("domains.form")) {
  <h2>@Messages("domains.form")</h2>

  @helper.form(action = id.map(routes.Domains.updateIfExists(_)).getOrElse(routes.Domains.create())) {
    <fieldset>
      <legend>
        @Messages("domain.details", domainForm("id").value.getOrElse(Messages("domains.new")))
      </legend>
      @helper.inputText(domainForm("name"))
      @helper.inputText(domainForm("master"))
      @helper.inputText(domainForm("lastCheck"))
      @helper.inputText(domainForm("domainType"))
      @helper.inputText(domainForm("notifiedSerial"))
      @helper.inputText(domainForm("account"))
    </fieldset>

      <script type="text/coffeescript">
          $("#button").click ->
            $.ajax '/api/domains',
                type: 'POST'
                contentType: 'application/json'
                data: '{ "name": "testme123", "master": "testme123", "lastCheck": 12345, "domainType": "A", "notifiedSerial": 12345, "account": "12345" }'
                error: (jqXHR, textStatus, errorThrown) ->
                    alert errorThrown
                    console.log "Post success"
                success: (data, textStatus, jqXHR) ->
                    console.log "Post success"

      </script>
    <p><!--input type="submit" class="btn primary" id="button" value='@id.map(_=> Messages("domains.edit.submit")).getOrElse(Messages("domains.new.submit"))'--></p>
    <p><input type="button" class="btn primary" id="button" value='@id.map(_=> Messages("domains.edit.submit")).getOrElse(Messages("domains.new.submit"))'></p>
  }
}
