@(form: Form[(String,String)])(implicit flash: Flash)

@main("Domains List") {    
 
    <div class="container">
        <h1>Sign in</h1><br/>   
        @helper.form(routes.Authentication.authenticate) {
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="text" name="username" placeholder="Login" id="username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>   
        }
    </div>
}