@()
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@routes.Application.index()">
                    @Messages("application.name")
                </a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="active">
                        <a href="@routes.Records.list()">
                            @Messages("records.list.navigation")
                        </a>
                    </li>
                    <li class="active"><a href="@routes.Records.create()"><i class="icon-plus icon-white"></i>
                        @Messages("records.new.command")</a></li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>