@()
@import helper.twitterBootstrap._
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@routes.Domains.index()">
                    @Messages("application.name")
                </a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Domains
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.Domains.list()">@Messages("domains.list.title")</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Records
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.Records.list(0, 1)">@Messages("records.list.title")</a></li>
                            <li><a href="@routes.Records.createRecord()">@Messages("records.new.command")</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Accounts
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/accounts/list">List Accounts</a></li>
                            <li><a href="/accounts/migrate">Bulk Migration</a></li>
                            <li><a href="/accounts/bulkcreate">Bulk Create SRV Records</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Clusters
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <!--  li><a href="/clusters/list">List Clusters</a></li -->
                            <li><a href="/servers/list">List Servers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            Admin
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/clusters/list">Audit Log</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <form class="navbar-search pull-right">
                        @helper.form(action=routes.Records.index()) {
                          <input type="search" id="searchbox" name="f" placeholder="Search">
                        }
                    </form>
                </ul>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                </div>
            </div>
        </div>
    </div>