@(createForm: Form[BulkCreateOperation])
@import helper._
@import helper.twitterBootstrap._
@import models.Domain

@domainHiddenField() = {
  <input type="hidden" name="srv.content[1].port" value="5060"/>
  <script>
    function changeHiddenInput (objDropDown) {
      document.getElementById("hiddenInput").value = objDropDown.value; 
    } 
  </script>
}

@domainField(className: String = "domain") = {
  <div class="clearfix" id="domainId field2">
    <label>Action:</label>
    <select><option value="GENERATE_SRV">Generate SRV with A Records</option></select>
    <table style=" width:35%">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>@inputText(createForm("srv.subdomain"), '_label -> "SRV SubDomain Pattern:", 'placeholder -> "sip-${accountId}")</td>
          <td>
            <label for="Domains">Domain to Apply:</label>
            <select name="srv.domainId">
              <option value="NULL" selected>-- Select An Option --</option>
              @for(d: Domain <- models.Domains.findAll){
                <option value="@d.id">@d.name</option>
              }
            </select>
          </td>
          <td>
            <label for="proto">SRV Proto:</label>
            <select name="srv.proto">
              <option value="udp" selected>UDP</option>
              <option value="tcp">TCP</option>
            </select>
          </td>
          <td>
            <label for="service">SRV Service:</label>
            <select name="srv.service">
              <option value="sip" selected>SIP</option>
            </select>
          </td>
          <td>
            <label for="port">SRV Port:</label>
            <select name="srv.content[0].port">
              <option value="5060" selected>5060</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
}

@layoutContentText() = {

}

@layoutServerList(index: Int) = {   
  <select name=@{"srv.content["+index+"].serverId"} onchange="changeHiddenInput(this)">
    <option value="NULL" selected>-- Select An Option --</option>
    @for(s: Server <- models.Servers.findAll){
      <option value="@s.id">@s.hostName</option>
    }
  </select>
}

@recordFormRow(className: String = "rft", index: Int) = {
  <tr>
    <td>@select(createForm("srv.content["+index+"].A.recordType"), options(RecordType.values.map(_.toString).toList), '_label -> "")</td>
    <td>@layoutServerList(index)</td>
    <td>@inputText(createForm("srv.content["+index+"].weight"), '_label -> "", 'placeholder -> "1")</td>
    <td>@inputText(createForm("srv.ttl"), '_label -> "", 'placeholder -> "60")</td>
  </tr>
}

@recordTable() = {
  <div id="recordTable">
    <table>
      <thead>
        <tr>
          <th>Record Type:</th>
          <th>Server:</th>
          <th>Record Weight:</th>
          <th>Record TTL:</th>
        </tr>
      </thead>
      <tbody>
        @for(index <- 0 to 1){
          @recordField(createForm("records"), "record", index)
        }  
      </tbody>
    </table>
  </div>
}

@recordField(field: Field, className: String = "record", index: Int) = {
  @{ val defaultPattern = "sip-${accountid}" }
  <div class="record">
    @recordFormRow(className, index)
  </div>
}

@accountsField() = {
   <fieldset>
     <legend>
       CSV List of Account IDs:
     </legend>
     <div id="textarea accounts">
       <div class="input">
         <textarea id="accounts" name="accounts" style="width: 600px; height: 200px"></textarea>
       </div>
     </div>
   </fieldset>
}

@hasErrors() = {
  @createForm.globalError.map { error =>
    <div class="alert alert-error">
      @error.message
    </div>
  } 
}

@main("Bulk Create Records") {
  @hasErrors()  
  <div class="container">
    <h2>Bulk Create Records</h2>
    <p/><p/>
  @helper.form(action = routes.BulkOperations.bulkCreateRecordsForAccounts) {
    @accountsField()
    <fieldset>
      <legend>Record Templates</legend>
      @domainField()
      @domainHiddenField()
      <br/><br/>
      @recordTable()
    </fieldset>
    <p>
      <div class="actions">
        <input type="submit" class="btn primary" value=@Messages("records.edit.submit")>
      </div>
    </p>
  }
  
  </div>
}
