@(accounts: Map[Int, Int], page: Int, orderBy: Int, count: Int)

@main("DNS App") {
    <!--script src="@routes.Assets.at("javascripts/accounts.js")" type="text/javascript"></script-->
      <div class="container">
        <table>
            <thead>
                <tr>
                    <th>AccountId</th>
                    <th>Records Count</th>
                </tr>    
            </thead>
            <tbody>
                @for((accountId, count) <- accounts) {
                    <tr>
                        <td><a href="@controllers.routes.Accounts.show(accountId)">
                            @accountId
                            </a>
                        </td>
                        <td>@count</td>
                    </tr>   
                }
            </tbody>
        </table>
        @(paginate(page, orderBy, count, routes.Records.get(_)))
        <div class="pagination pagination-right">
          <ul>
            <li><a href="?p=@{page-5}&s=1">&lt;&lt;</a></li>
            <li><a href="?p=@page&s=1">@{page+1}</a></li>
            <li><a href="?p=@{page+1}&s=1">@{page+2}</a></li>
            <li><a href="?p=@{page+2}&s=1">@{page+3}</a></li>
            <li><a href="?p=@{page+3}&s=1">@{page+4}</a></li>
            <li><a href="?p=@{page+4}&s=1">@{page+5}</a></li>
            <li><a href="?p=@{page+5}&s=1">&gt;&gt;</a></li>
          </ul>
        </div>
    </div>
      </div>
    </div>
}